<footer class="bg-white-800 text-white p-4 text-center">
  <div class="space-x-2 mb-2">
    <a href="#" style="color: #2d2c51" class="hover:text-green-400">Privacy</a>
    <a href="#" style="color: #2d2c51" class="hover:text-green-400">Terms</a>
    <a href="#" style="color: #2d2c51" class="hover:text-green-400"
      >Other projects</a
    >
    <a href="#" style="color: #2d2c51" class="hover:text-green-400"
      >Help center</a
    >
  </div>
  <p class="text-sm">&copy; 2024 Collab hub. All rights reserved.</p>
</footer>
